.topper { 
margin: 0; 
padding: 1em;  
text-align: center; 
font-weight: bolder; 
background-color: #fff; 
color: #14191d;
 }

.topper a { 
color: #14191d;
  }


body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0 auto;
  background-color: #d8e9ef;
}

.heyo { 
  padding: 1em;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.5em;
  color: #454552;
 }

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}

a { 
    border-bottom: 2px solid #4ea1d3; 
    text-decoration: none;
    font-weight: bold;
    color: #454552; 
  }

header { 
 text-align: center;
 }

footer { 
text-align: center; 
font-size: 14px;
line-height: 2;
} 

footer a { 
text-align: center; 
} 

 .date {
    color:#acacac
}

.jangell { 
  font-weight: bold;
  text-align: center;
 }

.bmo { 
  line-height: 1.5;
 }

 .bmo ul { 
list-style: none;
  }

  .bmo li { 
list-style: none;
    margin-bottom: 2rem;
  }

img { 
  max-width: 100%;
 }

blockquote { 
  font-style: italic;
  font-weight: bolder;
 }

.foot {  
 font-size: 12px; 
}

.nope { 
  color: #14191d;
 }

.please { 
 text-align: center;
 font-size: 14px;
 }

.ohyella {
  background-color: #faf785; 
  padding: 0.03em; 
}


.readtime { 
 color:#d38956;
 }

 @media screen and (max-width: 650px) {
  .please { 
 font-size: 12px;
 }

 footer { 
 font-size: 12px;
  }

}

