.cabasa
{
	background:#000;
	border-radius:20px;
	color:#FFF;
	padding:30px;
	text-align:center;
}

#bologona
{
	color:#000;
	font-size:1em;
	font-weight:300;
	padding-bottom:20px;
}

#buns
{
	font-size:2em;
	text-align:center;
}

body
{
	font-family:Helvetica, sans-serif;
	font-weight:300;
	margin:0;
	padding:0 0 6px;
}

a
{
	color:#56a0d3;
	font-weight:500;
	text-decoration:none;
}

h1
{
	font-size:2.6em;
}

h2
{
	font-size:2em;
}

p,ul
{
	font-size:1.3em;
	line-height:1.5;
	margin:0 0 1.5em;
}

.container
{
	margin:0 auto;
	max-width:90em;
	padding:1em 0;
}

.intro
{
	border-bottom:1px solid #000;
	padding-bottom:1.5em;
}

.content
{
	border-bottom:1px solid #000;
	padding-bottom:1.5em;
}

img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:150px;
}

img.displayed
{
	width:100%;
}

@media only screen and min-width 34em {
	p,ul
	{
		font-size:1.3em;
	}
	
	.container
	{
		padding:1em;
	}
	
	h1
	{
		font-size:2.6em;
	}
	
	h2
	{
		font-size:2em;
	}
}

@media only screen and min-width 54em {
	.content
	{
		border:none;
		border-left:1px solid #000;
		margin-bottom:2em;
	}
	
	h1
	{
		font-size:3em;
	}
	
	h2
	{
		font-size:2em;
	}
}

@media only screen and min-width 76em {
	h1
	{
		font-size:3.2em;
	}
	
	h2
	{
		font-size:2.2em;
	}
}
