/* This is the CSS for the blog */
/* HEADINGS */
h1 {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    color:#333;
    margin:0;
    font-size:51px;
    line-height:54px;
    letter-spacing:-2px;
    font-weight:700;
    text-align:center
}

h2 {
    font-family:Gill Sans,Verdana;
    font-size:21px;
    line-height:24px;
    letter-spacing:2px;
    font-weight:bolder;
    text-transform:uppercase;
    color:#000;
    text-align:center
}

h3 {
    font-family:Gill Sans,Verdana;
    font-size:18px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#000;
    text-align:center
}

h4 {
    font-family:Gill Sans,Verdana;
    font-size:16px;
    line-height:20px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:uppercase;
    color:#000;
    text-align:center
}

/* SECTIONS */
.shaq {
    max-width:none;
    margin:0;
    padding:0
}

.grey {
    background-color:#333
}


.rasheedwallace {
    max-width:540px;
    padding:2em;
    margin-left:auto;
    margin-right:auto
}

img.hotdogs {
    display:block;
    margin-left:auto;
    margin-right:auto
}

img.myface {
    width:150px;
    height:150px;
    margin-left:auto;
    margin-right:auto;
    display:block
}

.unc {
    background-color:#56a0d3;
    margin-left:auto;
    margin-right:auto;
    padding:5em
}

hr {
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))
}

.devil {
    background-color:#666;
    padding:5em
}

#muggsybogues {
    font-family:Gill Sans,Verdana;
    font-size:18px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    color:#eee
}

#randolphchildress {
    font-family:Gill Sans,Verdana;
    font-size:16px;
    line-height:21px;
    letter-spacing:2px;
    font-weight:lighter;
    text-transform:lowercase;
    text-align:center;
    color:#eee
}

/* LINKS */
a {
    font-family:Gill Sans,Verdana;
    font-size:21px;
    line-height:24px;
    letter-spacing:2px;
    color:#333;
    text-decoration:none;
    border-bottom:2px solid #56a0d3
}

a:hover {
    color:#000
}

.titles {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    font-size:51px;
    line-height:54px;
    letter-spacing:-2px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:#333;
    text-decoration:none;
    border-bottom:2px solid #56a0d3
}

.subtitles {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    font-size:41px;
    line-height:44px;
    letter-spacing:-2px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
    color:#333;
    text-decoration:none;
    border-bottom:2px solid #56a0d3
}

/* PAGINATION */
.quinshad {
    max-width:540px;
    padding:5em;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden
}

.previous {
    float:left;
    padding:1em
}

.next {
    float:right;
    padding:1em
}

/* WORDS */
.words img {
    display:block;
    max-width:100%;
    margin:0 auto;
    height:auto
}

.words p {
    font-size:19px;
    line-height:29px;
    font-family:Georgia,"Times New Roman",Times,serif;
    color:#333
}

.words a {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:19px;
    line-height:29px;
    color:#333;
    letter-spacing: normal;
    text-decoration:none;
    border-bottom:2px solid #56a0d3
}

.words a:hover {
    color:#000
}

.words blockquote {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:19px;
    font-style:italic;
    line-height:29px;
    border-left:4px solid #56a0d3;
    color:#333;
    text-decoration:none;
    padding:5px 0 5px 18px
}

.words li {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:19px;
    line-height:29px;
    text-decoration:none;
    padding:5px 0 5px 18px
}

/* CODE */
code,pre {
    font-family:Menlo,Monaco,"Courier New",monospace
}

code {
    padding:.25em .5em;
    font-size:85%;
    color:#bf616a;
    background-color:#f9f9f9;
    border-radius:3px
}

pre {
    display:block;
    margin-top:0;
    margin-bottom:1rem;
    padding:1rem;
    font-size:.8rem;
    line-height:1.4;
    white-space:pre;
    white-space:pre-wrap;
    word-break:break-all;
    word-wrap:break-word;
    background-color:#f9f9f9
}

pre code {
    padding:0;
    font-size:100%;
    color:inherit;
    background-color:transparent
}

/* Pygments via Jekyll */
.highlight {
    margin-bottom:1rem;
    border-radius:4px
}

.highlight pre {
    margin-bottom:0
}

hr {
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))
}
