---
layout: default
title: Blog | Chris Gallo
---

<body class="shaq">
<div style="background-color: #fff;">
    <div class="rasheedwallace">
       <a href="{{ site.url }}"><h1 style="color: #000;">{{ site.name }}</h1></a>
        <h2 style="color: #000">A story about learning by <br/><a href ="#sayhello" style="color: #000">Chris Gallo</a>.</h2>
        </div>
  </div>
  <div class="unc">
    <div class="rasheedwallace">
      <h4>Featured Post</h4>
      <h1>Other People's Shoes</h1>
      <h2 style="color: #333;">There is a difference between empathy and sympathy. What is it?</h2>
          
          <a style="text-align: center; text-transform: uppercase;" href="http://blog.hotdogsandeggs.com/featured/2014/09/26/shoes/" class="bellybutton" >Start Reading</a>

    </div>
    </div>
       {% for post in paginator.posts %}
       {% unless post.draft %}
    <div class="rasheedwallace">
       <h4>{{ post.date | date: '%B %d, %Y' }}</h4>
     <a href ="{{ post.url }}" class="titles">{{ post.title }}</a>
                    <h2 style="color: #333;">{{ post.preview }}</h2>
                              </div>
      <hr>
    {% endunless %}
    {% endfor %}

<div class="quinshad">

    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
        {% capture previous_page %}/{% endcapture %}
    {% else %}
        {% capture previous_page %}/page{{ paginator.previous_page }}{% endcapture %}
    {% endif %}
    <a href="{{ previous_page }}" class="previous">&larr; Newer</a>
{% endif %}
 
{% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Older &rarr;</a>
{% endif %}

</div>
    

