---
title: "Blog | Chris Gallo"
layout: default
---
<body>
  <header>
	<h1>Hot dogs and eggs</h1>
  <p>Write to think. Share what you learn. <span style="background-color:#faf785; padding: 1px 2px;">And stay curious.</span></p> 
  </header>
	<hr>
{% for post in site.posts %}

  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <ul class="bmo">

    <li><h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2></li>
    {% assign date = currentdate %}
  {% endif %}
    <li>
      <div>
        <span class="date">{{ post.date | date: '%B %d' }}</span>
        <br>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
<hr>
</body>

