<footer class="footer" role="contentinfo">
	<p>Enjoy this post? Please share it, let me know, or <a href="https://blog.hotdogsandeggs.com/" >read other posts</a>.</p>
	<section>
	<a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Site.BaseURL }}{{ .URL }}&via={{ .Site.Params.twitter_username }}&related={{ .Site.Params.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="twitter-share-button">Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	</section>
</footer>


