<footer class="footer" role="contentinfo">
	<p>Thanks for reading! Enjoy this post? Please share it, let me know, or <a href="https://blog.hotdogsandeggs.com" >read more posts</a>.</p>
	<section>
	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="twitter-share-button">Twitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

	</section>
</footer>