<header class="content navigation" id="top" role="banner">
  <a href="/" class="logo"><img src="/images/logo.png" alt="Hot dogs and eggs" /></a>

  <nav class="navigation-links" role="navigation">
    {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url contains link.url %}
            {% assign current = 'class="active"' %}
        {% endif %}
            <a href="{{ link.url }}" {{ current }}{% if forloop.last %}{% endif %}>{{ link.title }}</a>
    {% endfor %}
</nav>
</header>
