body {
    background-color:#000;
}

.frame {
    max-width:900px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
}

.principle {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    color:#fff;
    margin:0;
    font-size:71px;
    line-height:74px;
    letter-spacing:-2px;
    font-weight:700;
    text-align:center;
    display: none;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block
}

.spudwebb {
    font-family:Gill Sans;
    color:#fff;
    margin:0;
    font-size:14px;
    line-height:18px;
    letter-spacing:2px;
    font-weight:bolder;
    text-transform:uppercase;
    text-align:center;
    padding-top:10em
}

.switzer {
    font-family:Gill Sans;
    color:#fff;
    margin:0;
    font-size:14px;
    line-height:18px;
    letter-spacing:2px;
    font-weight:bolder;
    text-transform:uppercase;
    text-align:center;
    padding-top:1em
}

a {
    font-family:Gill Sans;
    color:#fff;
    border-bottom:2px solid #56a0d3;
    margin:0;
    font-size:14px;
    line-height:18px;
    letter-spacing:2px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center
}

@media (max-width: 30em) {
  .principle {
    font-family:times,Times New Roman,times-roman,georgia,serif;
    color:#fff;
    margin:0;
    font-size:51px;
    line-height:54px;
    letter-spacing:-2px;
    font-weight:700;
    text-align:center;
    padding: 0em;
}
}
