<!DOCTYPE html>
<html>
<head>   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="L-ZoUji3D4K6CNyxdq-cLivhr8XI0ybkaBQb6lV3LG0" />
  
    <link rel="author" href="https://plus.google.com/u/0/+ChrisGallo1123"/>  
    <link rel="canonical" href="http://hotdogsandeggs.com/" />
    <meta name="description" content="Chris Gallo is a customer support human focused on listening and learning.">
    <meta content="Chris Gallo" name="author">

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/stuff/css/archie.css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/stuff/favicon.ico">

    <!-- java -->
    <script src="/stuff/js/chrissabo.js" type="text/javascript" ></script>
    
    <!-- start GA-->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52956118-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- end GA-->

</head>
<body class="shaq">

    
    {{ content }}

<hr>
<h2>Get in touch</h2>
  <p style="text-align: center;">The easiest way to reach me online is <a href="http://twitter.com/cjgallo" >@cjgallo</a>. </p>
    </br>
    </br>
    <a href="/"> <img src="http://hotdogsandeggs.com/images/food.png" class="hotdogs" ></a>

    <h2>Made with hot dogs and eggs</h2>
</body>
</html>
