---
layout: default
---
<div style="background-color: #000;">
    <div class="rasheedwallace">
       <a href="{{ site.url }}"><h1 style="color: #fff;">{{ site.name }}</h1></a>
        <h2 style="color: #fff">A story about learning by <br/><a href ="#sayhello" style="color:#fff">Chris Gallo</a>.</h2>
        </div>
  </div>
<body class="shaq">
    <div class="rasheedwallace">
       <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
      <h1>{{ page.title }}</h1>
        </div>
    </div>
   <div class="rasheedwallace words">
     {{content}}
        </div>
        <hr>
<div class="quinshad">
<h3>Read These Next</h3>
    {% for post in site.related_posts limit: 1 %}
        <h2>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <h3 style="color: #333;">{{ post.preview }}</h3>
    {% endfor %}
    <h3><a href="http://blog.hotdogsandeggs.com/best">Most Popular Posts</a></h3>
    <h3><a href="http://blog.hotdogsandeggs.com/list">View the Archives</a></h3>


</div>
