---
layout: default
---
<div style="background-color: #000;">
    <div class="rasheedwallace">
       <a href="{{ site.url }}"><h1 style="color: #fff;">{{ site.name }}</h1></a>
        <h2 style="color: #fff">A story about learning by <br/><a href ="http://hotdogsandeggs.com" style="color:#fff">Chris Gallo</a>.</h2>
        </div>
  </div>
<body class="shaq">
    <div class="rasheedwallace">
       <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
      <h1>{{ page.title }}</h1>
        </div>
    </div>
   <div class="rasheedwallace words">
     {{content}}
        </div>
        <hr>
<div class="quinshad">
<h2>Catch Up on the Latest Posts</h2>
    {% for post in site.related_posts limit: 3 %}
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h4>
    {% endfor %}
</div>
